<style>
  #coffin {
    width: 167px;
    height: 115px;
    background: url(/img/coffin.png) no-repeat;
    position: absolute;
    right: 262px;
    bottom: 33px;
    z-index: 3;
  }
</style>

<div id="coffin"></div>