<div id="wrapp_menu">
    <slot />
</div>

<style>
  #wrapp_menu {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    height: auto;
    position: relative;
    background: #182f3b;
  }
</style>
