@font-face {
    font-family: "KreepTown";
    src: url("/wf/KreepTown.eot?#iefix") format("embedded-opentype"),
      url("/wf/KreepTown.woff") format("woff"),
      url("/wf/KreepTown.ttf") format("truetype"),
      url("/wf/KreepTown.svg#KreepTown") format("svg");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: "ZOMBIESSTATION";
    src: url("/wf/ZOMBIESSTATION.eot?#iefix") format("embedded-opentype"),
      url("/wf/ZOMBIESSTATION.woff") format("woff"),
      url("/wf/ZOMBIESSTATION.ttf") format("truetype"),
      url("/wf/ZOMBIESSTATION.svg#ZOMBIESSTATION") format("svg");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "B52";
    src: url("/wf/b52.eot");
    src: url("/wf/b52.woff") format("woff"),
      url("/wf/b52.ttf") format("truetype"), url("/wf/b52.svg") format("svg");
    font-weight: normal;
    font-style: normal;
  }
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    font-smoothing: antialiased;
    -moz-osx-font-smoothing: antialiased;
    font-smooth: always;
  }

.infoBlock {
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.71);
    padding-top: 37px;
    text-align: center;
    position: relative;
    z-index: 1;
  }
.infoBlock h1,
.frontend h1 {
  color: #e8e3e3;
  font-family: "KreepTown";
  font-size: 28px;
  font-weight: bold;
  text-transform: capitalize;
  text-decoration: underline;
  letter-spacing: 2px;
  padding-bottom: 28px;
}
.panel {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100vh;
  transition: margin-left .45s linear;
}