<section class="wrapper">
  <div id="graveyard">
    <slot />
  </div>
</section>

<style>
  .wrapper {
    width: 100%;
    height: 400px;
    background: #446274;
  }

  #graveyard {
    width: 1300px;
    height: 400px;
    margin: 0 auto;
    background: url(/img/bg_best.png) no-repeat;
    position: relative;
  }
</style>


